<div class="container">

  <div class="row col-lg-2">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="input-group">
          <input [(ngModel)]="searchText" name="searchText" class="form-control"/>
          <span class="input-group-btn">
             <button class="btn btn-default" type="button" (click)="search()">Search</button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>This is Car-System. <a routerLink="/users/register">Register</a>, add your car, get the best rating, earn the
        most likes!</p>
    </div>
    <div class="row">
      <div class="col-lg-6 card text-center" *ngFor="let car of cars">
        <h2>{{car.make}} {{car.model}}</h2>
        <img [src]="car.image"/>
        <p><a class="btn btn-default" routerLink="/cars/details/{{car.id}}" role="button">Read more &raquo;</a></p>
      </div>
    </div>
  </div>

  <div *ngIf="(cars.length<1 && page>1) || cars.length>0 "
       class="row pagination-row text-center col-lg-4 col-lg-offset-4">
    <ul class="pager">
      <li [ngClass]="(page===1)?'previous disabled':'previous'"><a (click)="prevPage()">&larr; Prev</a></li>
      <li [ngClass]="(cars.length===0 || cars.length<10)?'next disabled':'next'"><a (click)="nextPage()">Next &rarr;</a>
      </li>
    </ul>
  </div>


</div>


